.error404 {
    width: 451px;
    height: 30%;
}

.wrapper {
    align-items: center;
    display: flex;
    height: calc(100vh - var(--header_height));
    justify-content: center;
    flex-direction: column;
}
.mainPaige a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    background-color: rgb(85, 113, 233);
    padding: 10px 20px;
    color: rgb(200, 200, 200);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.mainPaige a:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(85, 113, 233);
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.mainPaige a:active {
    background-color: rgb(245, 209, 0);
    transform: scale(0.95);
}

