.stand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    padding: 0 70px 0 70px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    box-sizing: border-box;
}

.buttons {
    width: 167px;
    gap: 24px;
    padding-top: 94px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
