.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-right: 16px;
    margin-top: 2px;

    position: relative;
}

.radio::before {
    content: "";
    display: block;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 0 10px 0 10px;

}

.radio::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio:checked::after {
    background-color: #333;
    height: 13px;
    width: 13px;
}

.label {
    display: block;
    font-size: 20px;
    display: flex;
    margin-bottom: 21px;
}

.options {
    margin-top: 5px;
}
